<!DOCTYPE html>
<html>
<head>
    <title>Beer List</title>
</head>
<body>
    <h1>Beer List</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <!-- <th>Tap Number</th> -->
            <th>生產週期</th>
            <th>類型</th>
            <th>英文名稱</th>
            <th>中文名稱</th>
            <th>ABV</th>
            <th>IBU</th>
            <th>SRM</th>
            <th>桶裝價格</th>
            <th>330ml建議售價</th>
            <th>得獎紀錄</th>
            <th>麥芽</th>
            <th>啤酒花</th>
            <th>添加物</th>
            <th>特色</th>
            <th>描述</th>
            <th>關鍵字</th>
            <th>效期</th>
            <!-- 添加其他所需的欄位 -->
            <!-- ... -->
        </tr>
        {% for beer in page_obj %}
            <tr>
                <td>{{ beer.id }}</td>
                <!-- <td>{{ beer.tapNum }}</td> -->
                <td>{{ beer.time }}</td>
                <td>{{ beer.Style }}</td>
                <td>{{ beer.eName }}</td>
                <td>{{ beer.cName }}</td>
                <td>{{ beer.ABV }}</td>
                <td>{{ beer.IBU }}</td>
                <td>{{ beer.SRM }}</td>
                <td>{{ beer.NT_29L }}</td>
                <td>{{ beer.NT_330ml }}</td>
                <td>{{ beer.AwardRecord }}</td>
                <td>{{ beer.Malt }}</td>
                <td>{{ beer.Hop }}</td>
                <td>{{ beer.Adj }}</td>
                <td>{{ beer.Feature }}</td>
                <td>{{ beer.Description }}</td>
                <td>{{ beer.Keyword }}</td>
                <td>{{ beer.Validity_period }}</td>
                <!-- 添加其他欄位的數據 -->
                <!-- ... -->
            </tr>
        {% endfor %}
    </table>

    <div>
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>
</html>
